*.tex.swp
RomainMencattini*.aux
RomainMencattini*.bbl
RomainMencattini*.blg
RomainMencattini*.dvi
RomainMencattini*.log
RomainMencattini*.out
RomainMencattini*.toc
RomainMencattini*.tex.backup
Soutenance.aux
Soutenance.bbl
Soutenance.blg
Soutenance.dvi
Soutenance.log
Soutenance.out
Soutenance.toc
Soutenance.tex.backup
*.synctex.gz
dontFollow/
2006-2010

# for the kotlin part
*.class
*.log
.idea/
out/
.idea_modules
.gradle/
build/
gradle/
arl/.gradle/
gradle-wrapper.properties
.gradle/*/*.bin

ft.csv
pt.csv

__pycache__/
*.sublime-project
*.sublime-workspace
