*.tex.swp
RomainMencattini*.aux
RomainMencattini*.bbl
RomainMencattini*.blg
RomainMencattini*.dvi
RomainMencattini*.log
RomainMencattini*.out
RomainMencattini*.toc
RomainMencattini*.tex.backup
dontFollow/
EURUSD.dat
data/


# for the kotlin part
*.class
*.log
.idea/
out/
.idea_modules
.gradle/
build/
gradle/
arl/.gradle/
gradle-wrapper.properties
.gradle/*/*.bin
